<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>rsyncServerAddress</key>
	<string>127.0.0.1</string>
	<key>rsyncPortNumber</key>
	<integer>873</integer>
	<key>rsyncModuleName</key>
	<string>4D</string>
	<key>rsyncOptions</key>
	<string>--archive --exclude=&apos;*.4DD&apos; --exclude=&apos;*.4DIndx&apos; --exclude=&apos;*.journal&apos; --exclude=&apos;*.4BK&apos; --exclude=&apos;*.4BL&apos; --update</string>
	<key>rsyncAppPath</key>
	<string>4D/4D.app</string>
	<key>rsyncFilePath</key>
	<string>DB/DB.4dbase/DB.4DB</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>applet</string>
	<key>CFBundleIconFile</key>
	<string>applet</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RSYNC CLIENT</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>aplt</string>
	<key>LSMinimumSystemVersionByArchitecture</key>
	<dict>
		<key>x86_64</key>
		<string>10.6</string>
	</dict>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>WindowState</key>
	<dict>
		<key>dividerCollapsed</key>
		<false/>
		<key>eventLogLevel</key>
		<integer>-1</integer>
		<key>name</key>
		<string>ScriptWindowState</string>
		<key>positionOfDivider</key>
		<real>315.5</real>
		<key>savedFrame</key>
		<string>539 309 901 569 0 0 1440 878 </string>
		<key>selectedTabView</key>
		<string>event log</string>
	</dict>
</dict>
</plist>
